argcomplete==3.5.3
astroid==3.3.8
attrs==25.3.0
Beaker==1.12.1
beautifulsoup4==4.12.3
black==25.1.0
blivet==3.11.0
blivet-gui==2.6.0
Brlapi==0.8.5
Brotli==1.1.0
cattrs==24.1.2
certifi==2023.5.7
cffi==1.17.0
charset-normalizer==3.3.2
click==8.1.7
crypt_r==3.13.1
cryptography==43.0.0
cupshelpers==1.0
dasbus==1.7
dbus-python==1.3.2
dill==0.3.9
distlib==0.3.8
distro==1.9.0
dnf==4.22.0
docstring-to-markdown==0.15
fedora-third-party==0.10
file-magic==0.4.0
filelock==3.15.4
fros==1.1
humanize==4.9.0
idna==3.7
iso639==0.1.4
isort==6.0.0
jedi==0.19.2
langtable==0.0.68
libcomps==0.1.21
libdnf==0.73.4
louis==3.28.0
lsprotocol==2023.0.1
lxml==5.2.1
Mako==1.2.3
MarkupSafe==2.1.5
mccabe==0.7.0
mutagen==1.47.0
mypy==1.15.0
mypy-extensions==1.0.0
nftables==0.1
olefile==0.47
packaging==24.2
parso==0.8.4
Paste==3.10.1
pathspec==0.12.1
perf==0.1
pexpect==4.9.0
pid==2.2.3
pillow==11.0.0
platformdirs==4.3.6
pluggy==1.5.0
ply==3.11
productmd==1.43
ptyprocess==0.7.0
pwquality==1.4.5
pycairo==1.25.1
pycparser==2.20
pycrypto==2.6.1
pycryptodomex==3.21.0
pycups==2.0.4
pyenchant==3.2.2
pygls==1.3.1
PyGObject==3.48.2
pyinotify==0.9.6
pykickstart==3.58
pylint==3.3.4
pyls-isort==0.2.2
pylsp-mypy==0.7.0
pyOpenSSL==24.2.1
pyparted==3.13.0
PySocks==1.7.1
python-augeas==1.1.0
python-dateutil==2.8.2
python-linux-procfs==0.7.3
python-lsp-black==2.0.0
python-lsp-jsonrpc==1.1.2
python-lsp-server==1.12.2
python-meh==0.52
python-pam==2.0.2
pytoolconfig==1.3.1
pyudev==0.24.3
pyxdg==0.27
PyYAML==6.0.1
regex==2024.9.11
requests==2.32.3
requests-file==2.0.0
requests-ftp==0.3.1
rope==1.13.0
rpm==4.20.0
ruff==0.11.0
ruff-lsp==0.0.62
selinux @ file:///builddir/build/BUILD/libselinux-3.7-build/libselinux-3.7/src
sepolicy @ file:///builddir/build/BUILD/policycoreutils-3.7-build/selinux-3.7/python/sepolicy
setools==4.5.1
setuptools==75.8.2
simpleaudio==1.0.4
simpleline==1.9.0
six==1.16.0
sos==4.8.2
soupsieve==2.6
systemd-python==235
Tempita==0.5.2
tomlkit==0.13.2
typing_extensions==4.12.2
ujson==5.10.0
urllib3==1.26.20
virtualenv==20.21.1
websockets==12.0
wheel==0.45.1
xkbregistry==0.3
yt-dlp==2025.2.19
